# Exploring neighborhoods in Toronto 

Coursera Capstone project

In [1]:
#get dependencies
import pandas as pd
import numpy as np

In [2]:
#scrape wikipedia page to get initial table
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

tables = pd.read_html(url)
neighborhoods = tables[0]
print(neighborhoods.shape) #total neighborhoods before removing "not assigned"
neighborhoods = neighborhoods[neighborhoods['Borough']!='Not assigned']
print(neighborhoods.shape) #total neighborhoods after removing "not assigned "
print(len(neighborhoods[neighborhoods['Neighbourhood']=='Not assigned'])) #Are there any unassigned neighborhoods? No
neighborhoods.head(12)

(180, 3)
(103, 3)
0

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

In [3]:
#printing number of rows of the dataframe
print(neighborhoods.shape[0])

103

In [19]:
#import geosptatial coordinate csv
geo = pd.read_csv("Geospatial_Coordinates.csv", index_col=0)
geo.rename_axis(None,inplace=True)
geo.head()

      Latitude  Longitude
M1B  43.806686 -79.194353
M1C  43.784535 -79.160497
M1E  43.763573 -79.188711
M1G  43.770992 -79.216917
M1H  43.773136 -79.239476

In [25]:
#make new table with lats and longs of each postal code
lats = []
longs = []

for p in neighborhoods['Postal Code']:
    lat = geo.loc[p,'Latitude'] 
    long = geo.loc[p,'Longitude'] 
    lats.append(lat)
    longs.append(long)

neighborhoods['Latitude'] = lats
neighborhoods['Longitude'] = longs

neighborhoods.head()

<ipython-input-25-c21a5837a9f4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighborhoods['Latitude'] = lats
<ipython-input-25-c21a5837a9f4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighborhoods['Longitude'] = longs

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [17]:
neighborhoods['Postal Code']

2      M3A
3      M4A
4      M5A
5      M6A
6      M7A
      ...
160    M8X
165    M4Y
168    M7Y
169    M8Y
178    M8Z
Name: Postal Code, Length: 103, dtype: object

In [23]:
geo

      Latitude  Longitude
M1B  43.806686 -79.194353
M1C  43.784535 -79.160497
M1E  43.763573 -79.188711
M1G  43.770992 -79.216917
M1H  43.773136 -79.239476
..         ...        ...
M9N  43.706876 -79.518188
M9P  43.696319 -79.532242
M9R  43.688905 -79.554724
M9V  43.739416 -79.588437
M9W  43.706748 -79.594054

[103 rows x 2 columns]